@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");

*
{
margin: 0;
padding: 0;
box-sizing: border-box;


}
.nav1
{

background-image: linear-gradient(#36596D,#142E3E);
}
.navbar
{
background-color: #fff !important;
font-family:'Muli', sans-serif;
font-weight: bold;

}
.navbar-brand
{
font-size: 1.9rem !important;
font-family: 'Grenze Gotisch', cursive;
}
.menu_active
{
font-weight: bold;
border-bottom: 1px solid #565387;
}
.navbar a:hover{
color:#3498db !important;
}
@media (max-width:991px)
{
.navbar-brand
{
font-size: 1.5rem !important;
}
.menu_active
{
font-weight: bold;
border-bottom: none;
}
}
.Text
{
font-family: 'Merienda One', cursive;
}

.carousel-inner img
{
width: 100%;
height: 91vh;
}

#header .animated
{
animation: up-down 2s ease-in-out infinite alternate-reverse both;

}
@-webkit-keyframes up-down
{
0%
{
transform: translateY(10px);
}
100%
{
transform: translateY(-10px);
}
}
@keyframes up-down
{
0%
{
transform: translateY(10px);
}
100%
{
transform: translateY(-10px);
}
}
#header
{
background-image: linear-gradient(white 10%,#8697b4 35%,#00d4ff 100%,#020024 10%);
width: 100%;
height: 95vh;
}
.Service1
{
width: 100%;
height: 95vh;
background-image: linear-gradient(white 5%,#ffd89b 50%,#19547b);

}
.Contact1
{
background-image: linear-gradient(white,#d9a7c7,#fffcdc);
color:black;
}
.gallary
{
background-image: linear-gradient(white,#948E99,#2E1437);
}
.contact
{
width: 100%;
height: 95vh;
background-image: linear-gradient(white,#abbaab,#ffffff);
}

.gall{
cursor:pointer;
position:relative;
padding:10px 20px;
background:white;
font-size:28px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
transition:all 1s;
&:after,&:before{
content:" ";
width:10px;
height:10px;
position:absolute;
border :0px solid #fff;
transition:all 1s;
}
&:after{
top:-1px;
left:-1px;
border-top:5px solid black;
border-left:5px solid black;
}
&:before{
bottom:-1px;
right:-1px;
border-bottom:5px solid black;
border-right:5px solid black;
}
&:hover{
border-top-right-radius:0px;
border-bottom-left-radius:0px;

&:before,&:after{

width:100%;
height:100%;

}
}
}
#header .Button1
{
color:white;
text-transform: uppercase;
background-image: linear-gradient(#9292C4,#393989,#0A0A39);
padding: 10px;
border: 3px solid !important;
border-radius: 8px;
display: inline-block;
transition: all 0.3s ease 0s;
}
#header .Button1:hover
{
color:white !important;
border-radius: 50px;
border-color: #494949 !important;
transition: all 0.3s ease 0s;
}
.Button2
{
border: none;
background-image: linear-gradient(#BA5370,#F4E2D8);
color: #ffffff !important;
font-weight: 70;
padding: 10px;
text-transform: uppercase;
border-radius: 20px;
display: inline-block;
transition: all 0.3s ease 0s;
}
.Button2:hover
{
color: #404040 !important;
font-weight: 500 !important;
letter-spacing: 3px;
background: none;
transition: all 0.3s ease 0s;
}
